<a href="https://colab.research.google.com/github/Niwanka/footballPrediction/blob/main/PremierLeague.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv('https://raw.githubusercontent.com/Niwanka/footballPrediction/refs/heads/main/PremierLeague.csv')

In [3]:
data_frame

,Season,MatchWeek,Date,Time,HomeTeam,AwayTeam,FullTimeHomeTeamGoals,FullTimeAwayTeamGoals,FullTimeResult,HalfTimeHomeTeamGoals,...,MarketMaxAwayTeam,MarketAvgHomeTeam,MarketAvgDraw,MarketAvgAwayTeam,MarketMaxOver2.5Goals,MarketMaxUnder2.5Goals,MarketAvgOver2.5Goals,MarketAvgUnder2.5Goals,HomeTeamPoints,AwayTeamPoints
0,1993-1994,1,14/08/1993,NaN,Arsenal,Coventry,0,3,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3
1,1993-1994,1,14/08/1993,NaN,Aston Villa,QPR,4,1,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0
2,1993-1994,1,14/08/1993,NaN,Chelsea,Blackburn,1,2,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3
3,1993-1994,1,14/08/1993,NaN,Liverpool,Sheffield Weds,2,0,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0
4,1993-1994,1,14/08/1993,NaN,Man City,Leeds,1,1,D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11775,2023-2024,38,19/05/2024,04:00:00 p. m.,Crystal Palace,Aston Villa,5,0,H,2.0,...,3.84,1.87,4.28,3.67,1.42,3.12,1.39,2.96,3,0
11776,2023-2024,38,19/05/2024,04:00:00 p. m.,Liverpool,Wolves,2,0,H,2.0,...,17.00,1.16,8.71,14.55,1.24,4.55,1.22,4.23,3,0
11777,2023-2024,38,19/05/2024,04:00:00 p. m.,Luton,Fulham,2,4,A,1.0,...,2.30,2.92,3.95,2.23,1.48,2.86,1.44,2.76,0,3
11778,2023-2024,38,19/05/2024,04:00:00 p. m.,Man City,West Ham,3,1,H,2.0,...,25.00,1.10,11.72,21.81,1.22,4.85,1.20,4.45,3,0
11779,2023-2024,38,19/05/2024,04:00:00 p. m.,Sheffield United,Tottenham,0,3,A,0.0,...,1.39,7.32,6.04,1.35,1.26,4.40,1.22,4.14,0,3

In [4]:
data_frame['Date'] = pd.to_datetime(data_frame['Date'], format='%d/%m/%Y')


filtered_data_frame = data_frame[data_frame['Date'] > '2000-01-01']

filtered_data_frame.head()

,Season,MatchWeek,Date,Time,HomeTeam,AwayTeam,FullTimeHomeTeamGoals,FullTimeAwayTeamGoals,FullTimeResult,HalfTimeHomeTeamGoals,...,MarketMaxAwayTeam,MarketAvgHomeTeam,MarketAvgDraw,MarketAvgAwayTeam,MarketMaxOver2.5Goals,MarketMaxUnder2.5Goals,MarketAvgOver2.5Goals,MarketAvgUnder2.5Goals,HomeTeamPoints,AwayTeamPoints
2475,1999-2000,19,2000-01-03,NaN,Derby,Watford,2,0,H,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0
2476,1999-2000,19,2000-01-03,NaN,Everton,Leicester,2,2,D,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
2477,1999-2000,19,2000-01-03,NaN,Leeds,Aston Villa,1,2,A,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3
2478,1999-2000,19,2000-01-03,NaN,Newcastle,West Ham,2,2,D,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
2479,1999-2000,19,2000-01-03,NaN,Sheffield Weds,Arsenal,1,1,D,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1

In [5]:
filtered_data_frame.shape

(9305, 42)

In [6]:
filtered_data_frame.columns

Index(['Season', 'MatchWeek', 'Date', 'Time', 'HomeTeam', 'AwayTeam',
       'FullTimeHomeTeamGoals', 'FullTimeAwayTeamGoals', 'FullTimeResult',
       'HalfTimeHomeTeamGoals', 'HalfTimeAwayTeamGoals', 'HalfTimeResult',
       'Referee', 'HomeTeamShots', 'AwayTeamShots', 'HomeTeamShotsOnTarget',
       'AwayTeamShotsOnTarget', 'HomeTeamCorners', 'AwayTeamCorners',
       'HomeTeamFouls', 'AwayTeamFouls', 'HomeTeamYellowCards',
       'AwayTeamYellowCards', 'HomeTeamRedCards', 'AwayTeamRedCards',
       'B365HomeTeam', 'B365Draw', 'B365AwayTeam', 'B365Over2.5Goals',
       'B365Under2.5Goals', 'MarketMaxHomeTeam', 'MarketMaxDraw',
       'MarketMaxAwayTeam', 'MarketAvgHomeTeam', 'MarketAvgDraw',
       'MarketAvgAwayTeam', 'MarketMaxOver2.5Goals', 'MarketMaxUnder2.5Goals',
       'MarketAvgOver2.5Goals', 'MarketAvgUnder2.5Goals', 'HomeTeamPoints',
       'AwayTeamPoints'],
      dtype='object')

In [7]:
filtered_data_frame["HomeTeam"].value_counts()

HomeTeam
Everton             466
Tottenham           466
Chelsea             466
Man United          465
Arsenal             464
Liverpool           464
Man City            437
Newcastle           428
West Ham            409
Aston Villa         408
Fulham              323
Southampton         314
Sunderland          274
West Brom           247
Leicester           236
Crystal Palace      228
Bolton              209
Blackburn           209
Middlesbrough       199
Stoke               190
Wolves              190
Burnley             171
Wigan               152
Watford             142
Leeds               142
Charlton            133
Swansea             133
Bournemouth         133
Birmingham          133
Brighton            133
Portsmouth          133
Norwich             133
Hull                 95
Sheffield United     76
Derby                66
Reading              57
QPR                  57
Brentford            57
Ipswich              38
Cardiff              38
Huddersfield         38
Nott'm Forest        38
Bradford             29
Coventry             28
Blackpool            19
Luton                19
Sheffield Weds       11
Wimbledon             9
Name: count, dtype: int64

In [8]:
null_counts = filtered_data_frame.isnull().sum()

# Total null values in the entire DataFrame
total_null_values = filtered_data_frame.isnull().sum().sum()

print("Null counts per column:\n", null_counts)
print("\nTotal null values in the DataFrame:", total_null_values)

Null counts per column:
 Season                       0
MatchWeek                    0
Date                         0
Time                      7405
HomeTeam                     0
AwayTeam                     0
FullTimeHomeTeamGoals        0
FullTimeAwayTeamGoals        0
FullTimeResult               0
HalfTimeHomeTeamGoals        0
HalfTimeAwayTeamGoals        0
HalfTimeResult               0
Referee                    185
HomeTeamShots              185
AwayTeamShots              185
HomeTeamShotsOnTarget      185
AwayTeamShotsOnTarget      185
HomeTeamCorners            185
AwayTeamCorners            185
HomeTeamFouls              185
AwayTeamFouls              185
HomeTeamYellowCards        185
AwayTeamYellowCards        185
HomeTeamRedCards           185
AwayTeamRedCards           185
B365HomeTeam               945
B365Draw                   945
B365AwayTeam               945
B365Over2.5Goals          6402
B365Under2.5Goals         6402
MarketMaxHomeTeam         7405
MarketMaxDraw             7405
MarketMaxAwayTeam         7405
MarketAvgHomeTeam         7405
MarketAvgDraw             7405
MarketAvgAwayTeam         7405
MarketMaxOver2.5Goals     7405
MarketMaxUnder2.5Goals    7405
MarketAvgOver2.5Goals     7405
MarketAvgUnder2.5Goals    7405
HomeTeamPoints               0
AwayTeamPoints               0
dtype: int64

Total null values in the DataFrame: 99499